<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Angular Router App</a>
    <ul class="navbar-nav">    
    <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Egypt News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Saudi Arabia News</a>
    </li>
    </ul>
</nav>
